/* TAG STYLES */

html { font-family: helvetica, sans-serif; font-size: 100%; }
body { position: relative; color: #222233; }

  li { padding: 3px 0; font-size: 80%; line-height: 150%; }
pre { margin: 10px 0; padding: 10px 10px 0px 10px; font-family: monospace; color: white; background-color: #333; }
pre.ruby { padding: 10px; }
pre code { padding: 10px 10px; }

 img { border: none; }
  td { vertical-align: top; text-align: left; }
   p { text-align: justify; font-size: 100%; line-height: 150%; margin: 0 0 1.2em 0; }
   a { text-decoration: none; color: #00415A; }
   a:hover { text-decoration: underline; }

/* headers */

h1, h2, h3, h4, h5, h6 { margin: 1.5em 0 1em 0; }
h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 120%; }
h4 { font-size: 100%; }
